@import 'greset';

body {
    background-color: #121214;
}

canvas,
.loader {
    height: 100dvh;
    width: 100%;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #eee;
    font-size: 2rem;

    background-color: #121214aa;
    z-index: 10;

    display: grid;
    place-items: center;
}
